/* Estilos generales */
body {
    font-family: 'Montserrat';
    background-color: #ffdada;
}

.navbar.navbar-light {
    margin: 0 !important; /* Eliminar márgenes */
    padding: 0 !important; /* Ajustar padding a cero */
    background-color: #e93b50 !important; /* Color de fondo */
}

/* .navbar-brand{
    width: 10%;
} */

.navbar-brand span {
    font-family: 'Montserrat';
    font-size: 1.8rem;
    font-weight: bold;
    color: #f2f2f2;
    margin: 0; /* Eliminar márgenes */
    display: inline-block; /* Mantener en línea con la imagen */
    vertical-align: middle; /* Alinear verticalmente */
    margin-left: 0px;
}

.navbar-brand img {
    height: 50px; /* Ajusta la altura de la imagen */
    width: auto; /* Mantiene la relación de aspecto */
    margin-left: 30px; /* Espacio entre la imagen y el título */
    padding: 7%;
}

.nav-item-1 a{
    width: 85px;
    font-size: 17px; 
    font-weight: bold; 
    margin-top: 2px;
    margin-right: 50px;
}

.nav-item-2 a{
    width: 50px;
    margin-right: 30px;
}

@media (max-width: 768px) {
    .navbar-brand img {
        height: 60px; /* Ajustar a un tamaño más pequeño */
        margin-left: 10px; /* Reducir espacio en móviles */
    }
    .navbar-brand span {
        font-size: 2rem;
    }
}


#catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.producto {
    background-color: rgb(100, 41, 41);
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    text-align: center;
    width: 300px;
    text-align: center; /* Centra el contenido del producto */
    margin-bottom: 20px; /* Espaciado entre productos */
    transition: transform 0.3s ease;
}

.producto h2{
    font-family: 'Montserrat';
    margin-top: 15px;
    font-size: 30px;
    color: #ddd;
}

.producto p{
    font-family: 'Montserrat';
    font-size: 20px;
    color: #ddd;
}

.producto img {
    width: 100%;           
    height: 250px;         
    object-fit: cover;     
    border-radius: 10px;   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  

.producto:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    #catalogo {
        padding: 10px;
    }

    .producto {
        width: 100%;
        margin-bottom: 15px;
    }
}


/* Carrito de compras como ventanita */
.carrito-ventana {
    position: absolute;
    top: 50px; /* Ajustar según sea necesario */
    right: 20px; /* Ajustar la distancia desde la derecha */
    width: 250px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-size: 15px;
}

.producto-carrito {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


#carritoLink img {
    cursor: pointer;
}

#carritoLink img.has-items {
    filter: brightness(1.5);
}

#carritoLink::after {
    content: attr(data-count);
    position: absolute;
    top: 1px;
    right: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.5rem;
    font-weight: bold;
}


/* Estilo de Botones */
.btn-add {
    background-color: #e93b50; /* Color primario */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    color: white; /* Texto blanco */
    padding: 10px 15px; /* Espaciado */
    transition: background-color 0.3s; /* Transición suave */
    font-family: 'Montserrat';
    font-size: 20px;
}

.btn-add:hover {
    background-color: #b31c2d; /* Color al pasar el ratón */
}

.btn-pay {
    background-color: #f7764e; /* Color primario */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    color: white; /* Texto blanco */
    padding: 10px 15px; /* Espaciado */
    transition: 0.3s; /* Transición suave */
    margin-left: 70px;
    font-family: 'Montserrat';
    font-size: 15px;
}

.btn-pay:hover {
    background-color: #cc532e; /* Color al pasar el ratón */
}

.btn-delet {
    background-color: #8a0000; /* Color primario */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    height: 40px;
    color: white; /* Texto blanco */
    font-size: 15px;
    transition: background-color 0.3s; /* Transición suave */
    font-family: 'Montserrat';
    font-size: 12px;
}

.btn-delet:hover {
    background-color: #640000; /* Color al pasar el ratón */
}