
/* Encabezado y pie de página */
header, footer {
  background-color: rgba(100, 41, 41, 1.0); /* Fondo oscuro con 80% de transparencia */
  color: #f1f1f1;          /* Texto claro */
  padding: 1rem 0;
  text-align: center;      /* Centrar el texto */
  margin-top: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  bottom: 0;
  width: 100%;            /* Asegurarse de que el footer ocupe todo el ancho */
}

footer p {
  margin: 0;
  letter-spacing: 1px;
}

footer small {
  display: block;
}

/* Estilo del contenido principal */
main {
  flex: 1;
  padding: 1rem;
}

/* Botones personalizados (general) */
.btn-custom {
  background-color: #740000;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: #740000;
}

/* Estilo de títulos */
h1, h2, h3 {
  color: #740000;
  margin-bottom: 1rem;
}

/* Links */
a {
  color: #740000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* Navbar */
.navbar {
  background-color: #740000; /* Fondo más oscuro con 90% de transparencia */
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  padding: 0.75rem 1rem;
  z-index: 1000;
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 1px;
  color: #f1f1f1 !important;
}

.navbar-nav .nav-link {
  color: #ccc !important;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #fff !important;
}

.dropdown-toggle {
  background-color: #444 !important;
  border: none !important;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.dropdown-menu {
  background-color: #740000; /* Fondo oscuro con 90% de transparencia */
  color: #eee;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.dropdown-item {
  color: #ccc;
}

.dropdown-item:hover {
  background-color: #333;
  color: #fff;
}